@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"
@import "style"

h2
	display: block
	color: #37474f
	font-size: 48px
	font-family: "PT Sans Bold", sans-serif
	margin: 0
.ah-aboutus-text
	color: #37474f
	font-size: 17px
	font-family: "PT Sans Bold", sans-serif
	line-height: 20px
	margin: 0
.ah-aboutus-wrapp
	display: table
	width: 100%
	padding-top: 33px
	padding-left: 50px
.ah-maincat-wrapp
	padding: 35px 0px
.ah-maincat-height
	height: auto
.ah-maincat-imgbox
	position: relative
	display: table-cell
	width: 30%
	vertical-align: top
	padding: 0px 40px
	padding-top: 30px
	text-align: center
	&::before
		position: absolute
		content: ""
		background: url(../img/ah-border.png)
		width: 3px
		height: 100%
		right: 0px
		top: 0px
.ah-maincat-imgbox1
	position: relative
	display: table-cell
	width: 30%
	vertical-align: top
	padding: 0px 14px
	padding-top: 20px
	text-align: center
	&::before
		position: absolute
		content: ""
		background: url(../img/ah-border.png)
		width: 3px
		height: 100%
		right: 0px
		top: 0px
.ah-maincat-textbox
	display: table-cell
	width: 70%
	vertical-align: top
	padding: 0px 30px 0px 30px
.ah-maincat-textbox1
	display: table-cell
	width: 70%
	vertical-align: top
	padding: 0px 30px 0px 30px
.ah-maincat-span
	display: block
	color: #37474f
	font-size: 19px
	line-height: 23px
	font-family: "PT Sans Bold", sans-serif
	margin-bottom: 5px
.ah-maincat-taxt
	display: block
	color: #37474f
	font-size: 17px
	line-height: 21px;
	font-family: "PT Sans", sans-serif
	margin: 0
.ah-maincat-lit1, .ah-maincat-lit2, .ah-maincat-lit3
	height: 200px
	margin-top: 27px
.ah-maincat-lit1
	background: #ff6666;
	margin-right: 0px
	border-radius: 5px
.ah-maincat-lit2
	background: #ff6633;
	margin-left: 0px
	margin-right: 0px
	border-radius: 5px
.ah-maincat-lit3
	margin-left: 0px
	background: #ff0000;
	border-radius: 5px
.ah-maincat-left
	background: #fecc00
	border-radius: 5px
	margin-right: 0px
	margin-bottom: 27px
.ah-maincat-right
	background: #00a0e3
	border-radius: 5px
	margin-left: 0px
	margin-bottom: 0px
.ah-product-marg_l
	margin-left: 0
.ah-product-marg_r
	margin-right: 0
.ah-product-wrapper
	padding: 5px
	border: 1px solid #fecc00
	border-radius: 5px
	background: transparent
	margin-top: 30px
	margin-bottom: 30px
	&:hover
		border: 1px solid #fecc00
		background: #fecc00
		transition: background 0.4s ease 0s
		.ah-product-link
			background: #37474f
			color: #fecc00
.ah-product-imgbox
	img
		margin: 0 auto
.ah-product-textbox
	padding: 0px 30px
.ah-product-spantitle
	display: block
	font-size: 21px
	line-height: 25px
	font-family: "PT Sans Bold", sans-serif
	color: #37474f
	margin-top: 12px
	margin-bottom: 11px
.ah-product-text
	display: block
	color: #37474f
	font-size: 21px
	line-height: 21px;
	font-family: "PT Sans", sans-serif
.ah-product-link
	display: block
	outline: none
	height: 33px
	font-size: 17px
	line-height: 33px
	font-family: "PT Sans Bold", sans-serif
	color: #37474f
	text-transform: uppercase
	text-align: center
	background: #fecc00
	border-radius: 5px
	margin-top: 14px
	margin-bottom: 14px




@import "media" // Всегда в конце
@import "media2" // Всегда в конце