@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"
@import "style"

h2
	display: block
	color: #37474f
	font-size: 48px
	font-family: "PT Sans Bold", sans-serif
	margin: 0
	margin-bottom: 24px
.ah-aboutus-text
	color: #37474f
	font-size: 17px
	font-family: "PT Sans Bold", sans-serif
	line-height: 20px
	margin: 0
.ah-aboutus-wrapp
	display: table
	width: 100%
	padding-top: 33px
	padding-left: 50px
.ah-maincat-wrapp
	padding: 40px 0px
.ah-maincat-height
	height: auto
.ah-maincat-imgbox
	position: relative
	display: table-cell
	width: 30%
	vertical-align: top
	padding: 0px 40px
	padding-top: 30px
	text-align: center
	&::before
		position: absolute
		content: ""
		background: url(../img/ah-border.png)
		width: 3px
		height: 100%
		right: 0px
		top: 0px
.ah-maincat-imgbox1
	position: relative
	display: table-cell
	width: 40%
	vertical-align: top
	padding: 0px 40px
	padding-top: 30px
	text-align: center
	&::before
		position: absolute
		content: ""
		background: url(../img/ah-border.png)
		width: 3px
		height: 100%
		right: 0px
		top: 0px
.ah-maincat-textbox
	display: table-cell
	width: 70%
	vertical-align: top
	padding: 0px 30px 0px 30px
.ah-maincat-textbox1
	display: table-cell
	width: 60%
	vertical-align: top
	padding: 0px 30px 0px 30px
.ah-maincat-span
	display: block
	color: #37474f
	font-size: 22px
	line-height: 23px
	font-family: "PT Sans Bold", sans-serif
	margin-bottom: 5px
.ah-maincat-taxt
	display: block
	color: #37474f
	font-size: 17px
	line-height: 21px;
	font-family: "PT Sans", sans-serif
	// text-align: justify
	margin: 0
.ah-maincat-lit1, .ah-maincat-lit2, .ah-maincat-lit3
	height: 200px
	margin-top: 55px
.ah-maincat-lit1
	background: #ff6666;
	margin-right: 25px
	border-radius: 5px
.ah-maincat-lit2
	background: #ff6633;
	margin-left: 25px
	margin-right: 25px
	border-radius: 5px
.ah-maincat-lit3
	margin-left: 25px
	background: #ff0000;
	border-radius: 5px
.ah-maincat-left
	background: #fecc00
	border-radius: 5px
	margin-right: 25px
.ah-maincat-right
	background: #00a0e3
	border-radius: 5px
	margin-left: 25px


@import "media" // Всегда в конце
@import "media2" // Всегда в конце