@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"
@import "style"

@import "media" // Всегда в конце
@import "media2" // Всегда в конце

h2
	display: block
	color: #37474f
	font-size: 68px
	font-family: "PT Sans Bold", sans-serif
	margin: 0
	margin-bottom: 24px
.ah-aboutus-text
	color: #37474f
	font-size: 17px
	font-family: "PT Sans Bold", sans-serif
	line-height: 20px
	margin: 0
.ah-aboutus-wrapp
	padding-top: 33px
	padding-left: 50px
